<!DOCTYPE html>
<html lang="en">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Book Reviews  - {{ title | capitalize }}</title>


    <!-- Favicon
    ================================================== -->
    <link href="../static/images/theme/favicon.png" rel="shortcut icon" type="image/x-icon">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
<!--
     Google Web fonts
    ==================================================
    <link href="css/css(1)" rel="stylesheet">
-->

    <!-- Font Icons
    ================================================== -->
    <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/flaticon.css">
</head>

<body cz-shortcut-listen="true">
 <!-- Preloading -->
<div id="preloader" style="display: none;">
    <div class="spinner">
    </div>
</div>

<!-- Wrapper -->
<div class="wrapper top_30 container">
    <div class="row">

<!-- Profile Section
================================================== -->
        <div class="col-lg-2 col-md-4">
            <div class="profile">
                <div class="profile-name" style="visibility: visible">
                    <span class="name">Default Name</span><br>
                    <span class="job">Another Designer</span>
                </div>
                <figure class="profile-image" style="visibility: visible">
                    <img src="../static/images/avatar/default-male.png" alt="profile image">
                </figure>
                <ul class="profile-info">
                    <li></li>
                    <li>My Profile</li>
                    <li>My Reviews</li>
                    <li>Experiance</li>
                    <li>Education</li>
                    <li>Experiance</li>
                    <li>Portfolio</li>
                    <l><a href="/upload" rel="bulk upload"><span>
                        <i class="fa fa-upload"></i></span> DB UPLOAD</a></l></li>
                </ul>
{#                <div class="col-md-12">#}
{#                    <button class="site-btn icon">Download CV <i class="fa fa-download" aria-hidden="true"></i></button>#}
{#                </div>#}
            </div>
        </div>

        <!-- Page Tab Container Div -->
        <div id="ajax-tab-container" class="col-lg-10 col-md-8 tab-container" data-easytabs="true">

        <!-- Header
        ================================================== -->
        <div class="row">
            <header class="col-md-12">
                <nav>
        <!--    display flash Messages
                ========================================== -->
                    <div class="col-md-4">
                        {% with messages = get_flashed_messages(with_categories = true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-md-8">
                        {% block navbar %}
                    {% endblock %}
                    </div>
                </nav>
            </header>

            <!-- Page Content
            ================================================== -->
            <div class="col-md-12">
                <div id="content" class="panel-container">
{#  main-content block   #}
                    {% block main_contents %}
                    {% endblock %}

                </div><!-- Content - End -->
             </div> <!-- col-md-12 end -->
        </div><!-- row end -->
        <!-- Footer
        ================================================== -->
            <footer>
                <div class="footer col-md-12 top_30">
                    <div class="name col-md-4 hidden-md hidden-sm hidden-xs"></div>
                    <div class="copyright col-lg-8 col-md-12">© 2020 All rights reserved. Created for CS50W - Project 1 </div>
                </div>
            </footer>

        </div> <!-- Tab Container - End -->
    </div> <!-- Row - End -->
</div> <!-- Wrapper - End -->


<!-- Javascripts -->
        <script src="../static/js/jquery-2.1.4.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/jquery.easytabs.min.js"></script>
        <script src="../static/js//main.js"></script>
        <!-- for color alternatives -->
        <script src="../static/js/jquery.cookie-1.4.1.min.js"></script>

    </body>
</html>