{% extends 'layout.html' %}

{% block navbar %}
    <div class="row">
        <!-- login bar -->
        <form class="login-form">
            <input class="login-input" name="username" placeholder="E-mail" style="visibility: hidden">
            <input class="login-input" name="password" placeholder="password" style="visibility: hidden">
            <a href="#" class="pull-right site-btn icon hidden-xs">Login<i class="fa fa-sign-in"></i></a>
        </form>
    </div>
{% endblock %}

{% block main_contents %}
    <h3> Database Update</h3>

{% endblock %}