{% extends 'layout.html' %}

{% block navbar %}
    <div class="row">
        <!-- login bar -->
        <form class="login-form">
            <button class="pull-right site-btn icon hidden-xs"> LOGOFF<i class="fa fa-sign-out"></i></button>
        </form>
    </div>
{% endblock %}

{% block main_contents %}
    <div class="form-group">
        <div class="section-title top_15 bottom_60"><span></span><h2>Contact Form</h2></div>
        <form class="site-form" enctype="multipart/form-data" method="POST" action="update">
            <input class="site-input" type="file"><span>choose file</span>
            <button class="site-btn pull-right icon hidden-xs">UPLOAD <i class="fa fa-upload"></i></button>
        </form>
    </div>

{% endblock %}
